 *{
    margin: 0;
  }

  body{
    background-color:#1F2937 ;
    height:1300px;
    
}

.header_content h1{
  display:inline-block;
  margin-left: 300px;
  padding-bottom: 30px;
}

ul{
  display:inline-block;
  margin-left: 800px;
}

li{
  display:inline-block;
  margin-left: 25px;
}


.blue_box{

  display:flex;
  margin-left: 300px;

}

.box_writing{

padding-right: 80px;

}

.placeholder{
  display:inline-block;
  background-color: #808080;
  height: 300px;
  width: 700px;
  color:white

}

.placeholder p{

text-align: center;
line-height: 300px;


}


.blue_button{
  padding-top: 12px;
}

button{

background-color: #3882F6;
border-radius: 6px;
border: none;
width: 130px;
height: 35px;
color: white;


}




.boxes {

    padding-top: 400px;
    

    color: #EEEEEE;
  }

.box1 {

    padding: 150px;
    background-color: #ffffff;
}

.title{

color: #1F2937;
font-size: 36px;
text-align: center;
position: relative;
top: -100px;
}

.info_boxes{

display: flex;
justify-content: center;
}

.one, .two, .three, .four{

border: 3px solid #3882F6;
border-radius: 10px;
height: 150px;
width: 150px;
margin: 10px;

}

.descript1{
color: #1F2937;
}


.box2 {

    padding: 150px;
    background-color: #e5e7eb;
}

.quote_box{

width: 760px;
margin: 0 auto;


}
.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  text-align: left;
}

.cite {
  color: #1F2937;
  text-align: end;
  font-weight: bold;

}

.box3 {

    padding: 100px;
    background-color: #ffffff;
}